/* ==========================================================================
    Working Title:  Nurbid Dark Theme (for Upmind)
    Authored by:    Dustin Tantum – Nurbid IT Services ( https://nurbid.com )
    Last Modified:  2025-05-29
   ========================================================================== */

   :root {
    /* Background colors */
    --dark-background: #111;
    --dark-background-primary: #222;
    --dark-background-secondary: #333;
    --dark-background-tertiary: #444;
    --dark-background-emphasis: #666;
    /* Text colors */
    --dark-body-primary: #999;
    --dark-body-secondary: #ccc;
    --dark-body-tertiary: var(--brand-color-contrast);
    /* Text Header colors */
    --dark-header-primary: var(--brand-color-contrast);
    --dark-header-secondary: #999;
    /* Border colors */
    --dark-border-primary: #555;
    --dark-border-secondary: #aaa;
    --dark-border-tertiary: var(--brand-color-contrast);
    /* Link colors */
    --dark-link: #aaa;
    --dark-link-hover: var(--brand-color-contrast);
    --dark-link-active: var(--brand-color-contrast);
    /* Button & Message elements */
    --dark-info: #dddddd;
    --dark-info-hover: #eeeeee;
    --dark-success: #10b981;
    --dark-success-hover: #0fad79;
    --dark-danger: #f14668;
    --dark-danger-hover: #e07d80;
    --dark-warning: #f59e0b;
    --dark-warning-hover: #e0c033;
    /* Shadows */
    --dark-shadow-sm: 0 5px 15px rgba(100, 100, 100, 0.5);
    --dark-shadow-lg: 0 5px 30px rgba(100, 100, 100, 0.5);
}


/* BASE ELEMENTS
   ========================================================================== */

html { background-color: var(--dark-background) !important; }
body { font-family: var(--brand-font-family); background-color: var(--dark-background) !important; color: var(--dark-body-primary); }


/* MEDIA QUERY ADJUSTMENTS
   ========================================================================== */

/* @media screen and (min-width: 1024px) {
    .u-client-cprod-layout .u-client-cprod-billboard:before {}
} */
/* @media screen and (min-width: 769px), print {
    .u-client-cprod-layout .u-client-cprod-billboard:before {
        border-top: 1px solid var(--dark-border-primary)!important;
    }
} */
/* @media screen and (min-width: 1024px) {
    .u-client-cprod-layout .u-cptabs-wrapper .u-cptabs-content {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
} */
/* @media screen and (min-width: 769px), print {
    .u-client-cprod-layout .u-cptabs-wrapper .u-cptabs-content {
        padding: 0 1.5rem;
    }
} */


/* PAGE SPECIFIC OVERRIDES
   ========================================================================== */

/* PRODUCTS & SERVICES > Card > P&S List */
.u-cprod-row-item.u-row-item.is-clickable { border-color: var(--dark-border-primary)!important;}
/* PRODUCTS & SERVICES > Card > P&S Grid > Product Containers */
.u-grid-item.is-clickable { background-color: var(--dark-background-primary)!important; border-color: var(--dark-border-primary); }
/* PRODUCTS & SERVICES > Card > P&S Grid > Product Container > Footer */
.u-grid-item.is-clickable .u-grid-item-footer { border-color: var(--dark-border-primary)!important; }
.u-grid-item.is-clickable .u-grid-item-footer .u-grid-item-cta:hover { background-color: var(--dark-background-secondary)!important; }
/* PRODUCTS & SERVICES > Card > P&S Grid > Product Container > Action Link */
.u-grid-item.is-clickable .u-grid-item-footer .u-grid-item-cta:hover { color: var(--dark-link-hover); }
/* PRODUCTS & SERVICES > Single Product/Service Page > Top Section */
.u-client-cprod-layout .u-client-cprod-billboard:before { background-color: var(--dark-background-primary)!important; }
/* PRODUCTS & SERVICES > Single Product/Service Page > Tabs Section */
.u-client-cprod-layout .u-cptabs-content { padding-top: .75rem!important; }
.u-client-cprod-layout .u-cptabs-wrapper::before { background-color: var(--dark-background-primary)!important; border-bottom-color: var(--dark-border-primary)!important; }
/* PRODUCTS & SERVICES > Single Product/Service Page > Message Bar */
section .u-cpcn-wrapper.is-success .has-margin-right-auto span { color: var(--dark-success)!important; font-size: 110%; }
.u-cpcn-wrapper.is-success:before { background-color: var(--dark-background)!important; border-color: transparent!important;}
/* PRODUCTS & SERVICES > Single Product/Service Page > Floating Column (right) */
.u-client-cprod-layout .u-client-cprod-secondary.is-hidden-touch { border: none; margin-top: 2px; background-color: var(--dark-background-primary)!important; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)!important; }

/* BILLING > Invoice Display */
.table-container strong { color: var(--dark-link-primary)!important; }
.table-container thead th { background-color: var(--dark-header-secondary)!important; color: var(--dark-body-tertiary)!important; border-bottom: 1px solid var(--dark-border-primary); border-radius: 0!important; }

/* MY ACCOUNT > Email History > Email List > List Item (Contents) > Value */
.u-ripple-table table tbody > *:not(.u-ripple-table-empty) { color: var(--dark-body-primary)!important; }
/* MY ACCOUNT > Profile > Card > "⁝" Button */
.dropdown-trigger .button.is-white { border-width: 0; }
.u-row-item .u-row-dropdown .dropdown-trigger:hover { color: var(--dark-body-tertiary)!important; }

/* Main Footer */
footer { background-color: var(--dark-background-primary) !important; padding: 1rem 2rem !important; }
footer .u-powered-by-link { display: none; }
footer .u-client-footer-wrapper { justify-content: center; }
footer .u-client-footer-wrapper p { margin-bottom: 0 !important; }


/* GLOBAL STYLES (*** VERIFIED ***)
   ========================================================================== */

/* CORE > Base Elements (defualt) */
dl dt { color: var(--dark-body-primary)!important; }
dl dd { color: var(--dark-body-secondary)!important; }
strong { color: var(--dark-body-tertiary)!important; }
.has-text-grey, .has-text-grey-light { color: var(--dark-body-primary)!important; }
.has-text-dark { color: var(--dark-body-tertiary)!important; }
.has-text-info { color: var(--brand-color)!important; }
.has-text-weight-semibold { color: var(--dark-body-tertiary)!important; }
.has-success, .has-text-success { color: var(--dark-success)!important; } 
.has-background-success { background-color: var(--dark-success)!important; } 
.help.is-danger { color: var(--dark-danger); }

/* CORE > Page Background */
.has-background-light { background-color: var(--dark-background)!important; }
/* CORE > Page Header */
#u-client-container > header { background-color: var(--dark-background-secondary)!important; border-bottom: none; }
/* CORE > Navbar (primary) */
.has-background-light > .has-background-white { background-color: var(--dark-background-secondary)!important; border-bottom: 1px solid var(--dark-border-secondary); /* padding: 0.75rem 0rem; */ }
.has-background-light .has-inset-shadow-top { box-shadow: none!important; }
/* CORE > Navbar > Messages ??? (normally hidden) */
.ribbon.has-background-white.has-border-top { background-color: transparent!important; color: var(--dark-body-tertiary)!important; border: none; }

/* BUTTONS (default) */
.button, .button.is-white, .button.is-light, .button.is-dark, .u-basket-continue-shopping.button span { background-color: transparent; border-color: var(--dark-link); color: var(--dark-link); }
.button:hover, .button.is-hovered, .button.is-white:hover, .button.is-light:hover, .button.is-dark:hover, .u-basket-continue-shopping.button:hover span { background-color: var(--dark-background-secondary); color: var(--dark-link-hover); border-color: var(--dark-link-hover)!important; }
.button[disabled], .button.is-white[disabled], .button.is-light[disabled], .button.is-dark[disabled] { background-color: transparent; }
/* BUTTONS (success) */
.button.is-success { background-color: transparent; border-color: #10b981; color: #10b981; }
.button.is-success:hover, .button.is-success.is-hovered { background-color: #0fad79; color: var(--dark-link-hover); }
.button.is-success[disabled] { background-color: transparent; color: #10b981; }

/* CARDS > Primary Content Boxes (all pages) */
.box, .card, .collapse, .u-border-box { background-color: var(--dark-background-primary)!important; color: var(--dark-body-primary)!important; box-shadow: 0 0 0 transparent!important; border: 1px solid var(--dark-border-primary); }

/* DROPDOWN MENUS > Container (default) */
.dropdown-content { background-color: var(--dark-background-primary); border: 1px solid var(--dark-border-secondary); border-top: 0; box-shadow: var(--dark-shadow-sm); margin-top: -1px; }
/* DROPDOWN MENUS > Container > Dropdown Item (defaults) */
.dropdown-item, .dropdown-item.is-disabled, .dropdown .dropdown-menu .has-link a { color: var(--dark-link); }
.autocomplete .dropdown-item.is-hovered, .autocomplete .dropdown .dropdown-menu .has-link a.is-hovered, .dropdown .dropdown-menu .has-link .autocomplete a.is-hovered { color: var(--dark-link-hover); }
/* DROPDOWN MENUS > Container > Dropdown Item (retain ".is-danger" color on hover) */
.dropdown-item[data-v-6eae07e4]:hover { color: inherit!important; }
/* DROPDOWN MENUS > Container > Dropdown Item (text hover color) */
.dropdown-item:not(.dropdown-item.is-disabled):hover, .dropdown .dropdown-menu .has-link a:hover, button.dropdown-item:hover { color: var(--dark-body-tertiary); }

/* FILTERS > Container */
.filter-sort-controls .data-filter { z-index: unset; flex-direction: column; align-items: flex-start; }
.filter-sort-controls .u-filter-control { border: none; padding-left: 0; }
.filter-sort-controls .u-sortby-label { margin-top: .5rem; }
/* FILTERS > Container > Filter List */
.filter-sort-controls .active-filter { background-color: var(--dark-background-tertiary)!important; }
/* FILTERS > Container > Filter List > Filter "Pills" */
.filter-sort-controls .active-filter.pre-defined-filter p > span:not(.icon) { color: var(--dark-body-secondary)!important; }
.filter-sort-controls .active-filter.pre-defined-filter p > strong { color: var(--dark-body-tertiary)!important; }
/* FILTERS > Container > Filter List > "Add filter" > Dropdown > Menu */
/* .filter-sort-controls .autocomplete .dropdown-menu .dropdown-content .dropdown-item > span { color: var(--dark-body-secondary)!important; } */
.filter-sort-controls .autocomplete .dropdown-menu .dropdown-content > .dropdown-item:hover { background-color: var(--dark-background-secondary)!important; }
/* FILTERS > Container > Filter List > "Add filter" > Dropdown > Menu (Override default .is-hovered styling) */
.filter-sort-controls .autocomplete .dropdown-menu .dropdown-content > .dropdown-item.is-hovered { background-color: var(--dark-background-tertiary); }
/* FILTERS > Container > Sort Buttons */
/* .filter-sort-controls .select select { color: var(--dark-body-primary); } */
/* .filter-sort-controls .field-body .field.has-addons .control.is-expanded .select.is-fullwidth select:hover { background-color: var(--dark-background-secondary)!important; color: var(--dark-body-tertiary)!important; border-color: var(--dark-border-hover); } */
/* .filter-sort-controls .button .icon.is-small:not(.has-text-info) > i.fas { color: var(--dark-body-primary)!important; } */
/* .filter-sort-controls.has-margin-bottom-100 .button:hover .icon.is-small:not(.has-text-info) > i.fas { color: var(--dark-body-tertiary)!important; } */
/* FILTERS > Container > Sort Buttons */
.filter-sort-controls .field.has-addons .control .button { border-color: var(--dark-border-primary); }
/* FILTERS > Filter List > "Add filter" > Dropdown > Trigger */
.filter-sort-controls .autocomplete.control .input { cursor: pointer; width: 4.5rem; margin-top: -.25rem; background-color: transparent!important; }
.filter-sort-controls .autocomplete.control .input::placeholder { border-bottom: 1px dotted var(--dark-border-secondary); text-transform: capitalize; font-size: 90%; }

/* FORM ELEMENTS (default) */
.label { color: var(--dark-body-primary)!important; }
.select select, .textarea, .input { background-color: var(--dark-background-primary); border-color: var(--dark-border-primary); color: var(--dark-body-secondary); }
.select select::placeholder, .textarea::placeholder, .input::placeholder { color: var(--dark-body-secondary); }
.select select:hover, .textarea:hover, .input:hover, .select select.is-hovered, .is-hovered.textarea, .is-hovered.input { color: var(--dark-body-tertiary); border-color: var(--dark-link-hover)!important; }
.select select:focus, .textarea:focus, .input:focus, .checkbox input:focus { border-color: var(--brand-color)!important; box-shadow: 0 0 0 .125em rgba(var(--brand-color), 0.25);}
.select select:active, .textarea:active, .input:active { border-color: var(--brand-color); box-shadow: 0 0 0 .125em rgba(var(--brand-color), 0.25); }
.select:not(.is-multiple):not(.is-loading):after { border-color: var(--brand-color); }
.select:not(.is-multiple):not(.is-loading):hover:after { border-color: var(--dark-link-hover); }
.b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled)+.check { border-color: var(--brand-color)!important; }
.b-checkbox.checkbox input[type=checkbox]:checked+.check { background-color: var(--brand-color)!important; border-color: var(--brand-color)!important; }
.radio:hover, .checkbox:hover { color: var(--dark-link-hover); }
[disabled].radio, [disabled].checkbox, fieldset[disabled] .radio, fieldset[disabled] .checkbox, .radio input[disabled], .checkbox input[disabled] { color: var(--dark-body-primary); }
.u-radio-selector, .selector.with-separator { background-color: var(--dark-background-secondary)!important; }
.u-radio-selector, .selector.with-separator, .u-radio-selector.with-separator .u-radio-selector-item+.u-radio-selector-item { border-color: var(--dark-border-primary)!important; }

/* HEADERS > Sub-Section Headers (Dashboard, Products & Services, Single Product/Service Page > Right Sidebar, Billing, My Account, Support) */
.table-header, .u-aside header, .u-ripple-table table thead th, .contract-product-details thead th, .stat-header .stat-label-text, .stat-header .dropdown-trigger, .basket-item-totals tbody th, .u-border-box thead th { background-color: transparent!important; color: var(--dark-body-tertiary)!important; border-bottom: 1px solid var(--dark-border-primary); border-radius: 0!important; }
.collapse-header-title, h1.title { color: var(--brand-color)!important; }
.card-header { display: none; }

/* MENUS */
.u-menu ul.u-menu-routes li.u-menu-route > a, .custom-menu.custom-menu-light .custom-menu-list a { color: var(--dark-link)!important; }
.u-menu ul.u-menu-routes li.u-menu-route:not(.is-active) > a:hover, .custom-menu.custom-menu-light ul.custom-menu-list li > a:hover { color: var(--dark-link-hover)!important; background-color: var(--dark-background-secondary)!important; }
.u-menu ul.u-menu-routes li.u-menu-route.is-active > a, .custom-menu.custom-menu-light ul.custom-menu-list li > a.router-link-active { color: var(--dark-link-active)!important; background-color: var(--brand-color)!important; font-weight: 700!important; }

/* MESSAGES & ALERTS */
.u-empty-state .u-border-box, .u-ripple-table-empty .u-border-box, .u-message, .message .message-body { background-color: var(--dark-background-primary)!important; box-shadow: var(--dark-shadow-lg); border-width: 0 0.5rem 0 0.5rem!important; line-height: 1.2; }
.message .message-body, .u-message .u-message-body { color: var(--dark-body-secondary)!important; }

/* MODALS */
.modal-background { background-color: #1c1c1cbc; }
.modal-card { box-shadow: var(--dark-shadow-sm); border: 1px solid var(--dark-border-primary); border-radius: 6px; }
.modal-card .modal-card-body { background-color: var(--dark-background-secondary); }
.modal-card .modal-card-body .u-email-client .u-email-client-head { background-color: var(--dark-background-secondary); color: var(--dark-body-tertiary)!important; border-bottom: 2px solid var(--brand-color); }
.modal-card .modal-card-foot { background-color: var(--dark-background-secondary)!important; box-shadow: var(--dark-shadow-sm); border-top: 2px solid var(--brand-color); }

/* SKELETONS */
.loading-overlay .loading-background { background-color: #22222200; }
.u-grid-item.has-skeletons { background-color: var(--dark-background-primary); border-color: var(--dark-border-primary); }
.u-grid-item.has-skeletons .u-grid-item-footer { border-top-color: var(--dark-border-primary); }
.b-skeleton .b-skeleton-item { background: linear-gradient(90deg, var(--dark-border-primary) 0%, var(--dark-background-secondary) 100%); }
.u-ripple-table:has( * .u-ripple-table-empty) tr:not(:last-of-type) { border-top: none!important; border-bottom: 1px solid var(--dark-border-primary); }

/* TABS (defaults) */
.tabs ul { border-bottom: 1px solid var(--dark-border-secondary); }
.tabs li, .tabs li:hover, .tabs li.is-active, .tabs li:hover a, .tabs li.is-active a { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.tabs li a { color: var(--dark-link); height: 2.5rem; text-transform: capitalize; border-bottom: none; }
.tabs li:hover a { color: var(--dark-body-tertiary); box-shadow: none!important; }
.tabs li.is-active { background-color: var(--brand-color); }
.tabs li.is-active a { color: var(--dark-body-tertiary); font-weight: 700; box-shadow: inset 0 -2px var(--brand-color); }
.tabs li:not(.is-active):hover { background-color: var(--dark-background-secondary); }
.tabs.is-marginless.is-borderless li:not(.is-active):hover { background-color: var(--dark-background-tertiary); }

/* TOOLTIPS (default) */
.b-tooltip.is-dark .tooltip-content { background-color: var(--dark-background)!important; color: var(--dark-body-tertiary)!important; }
.b-tooltip.is-top.is-dark .tooltip-content:before{ border-top-color: var(--dark-background)!important; }

/* VIEWS (list) */
.is-hoverable a:first-of-type { border-top: none!important; }
.u-row-item, .is-hoverable a:not(:first-of-type) { border-top-color: var(--dark-border-primary)!important; }
/* VIEWS (grid) */
.stat, .u-notification-item { background-color: var(--dark-background-primary)!important; border: 1px solid var(--dark-border-primary)!important;}
.stat:hover, .u-notification-item:hover { border-color: var(--brand-color)!important; } 
.stat-value { color: var(--brand-color)!important; }




/* GLOBAL STYLES (*** UN-VERIFIED ***)
   ========================================================================== */

/* TAGS & BADGES */
.tag:not(body).is-grey,
.tag.has-margin-left-50.is-grey-light.is-small { background-color: var(--brand-color)!important; }
.tag:not(body).is-grey,
.tag.has-margin-left-50.is-grey-light.is-small .has-text-grey { font-weight: bold; }

/* .u-row-item .u-row-dropdown .dropdown-trigger { color: var(--dark-body-primary)!important; } */









/* .bermuda-columns .column-slot-a > div > div:not(.field), .bermuda-columns .column-slot-b > div > div:not(.field) { margin: 0 1rem; } */






/* ORDER STYLES > SHOP, CART, & CHECKOUT PAGES (*** VERIFIED ***)
   ========================================================================== */

/* CORE > Page Background */
#order-container .has-background-white { background-color: transparent!important; }
#order-container .has-background-white > .container { padding: 0 1rem; }
/* CORE > Header Bar (primary) */
#order-container .is-sticky>.has-background-white { background-color: var(--dark-background-secondary) !important; border-bottom: none; box-shadow: var(--dark-shadow-sm)!important; }

/* CORE > Navbar (primary) */
#order-container .basket-navigation-header[data-v-753d8d9c] { background-color: var(--dark-background-secondary); border-bottom: 1px solid var(--dark-border-primary) !important; }
#order-container .basket-navigation-header>div[data-v-753d8d9c] { height: 2.5rem!important; }

/* CORE > Columns (A & B) */
#order-container .bermuda-columns .column-slot-a, #order-container .bermuda-columns .column-slot-b { background-color: var(--dark-background-primary); border-radius: 6px; padding: 0!important; }

/* CORE > Default Layout */
#order-container .is-absolute-center { display: flex; }
#order-container .u-shop-product-preview[data-v-cdb088e8] { margin: 0; gap: 1rem; }
#order-container .u-shop-product-images, .u-shop-product-config, .u-shop-product-crumbs { margin: 0!important; }
#order-container .u-shop-product-images .carousel, .u-shop-product-config { background-color: var(--dark-background-primary)!important; color: var(--dark-body-primary)!important; box-shadow: 0 0 0 transparent!important; padding: 1.5rem; border-radius: 6px!important;}

/* CARDS > Primary Content Boxes (all pages) */
#order-container .bermuda-columns { gap: 1rem; padding: 1rem; }
#order-container .bermuda-columns .column-slot-a { height: fit-content!important; padding: 1.75rem 1.5rem!important; }
#order-container .bermuda-columns .column-slot-b { height: fit-content!important; padding: 1.5rem 2.25rem!important; }
#order-container .bermuda-columns .column-slot-a .u-heading { display: none; }
#order-container .bermuda-columns .column-slot-b .u-heading { color: var(--brand-color)!important; font-size: 2rem; border: none; }
#order-container .bermuda-columns .column-slot-a .field { display: none; }

/* BASKET / CART */
.basket-item-totals tfoot th { color: var(--dark-body-tertiary); }

/* BREADCRUMBS */
#order-container ul.u-breadcrumbs::before { content: "⭐️"; margin-right: .5em; font-size: 1.5em; padding-bottom: 3px; }
#order-container ul.u-breadcrumbs { display: flex!important; align-items: center; height: 2rem; }
#order-container ul.u-breadcrumbs li { display: flex!important; align-items: center; column-gap: .5rem; margin-right: .5rem; font-size: 1.25rem; opacity: 1!important; color: var(--dark-link)!important; }
#order-container ul.u-breadcrumbs a { display: flex!important; align-items: center; }
#order-container ul.u-breadcrumbs li u { text-decoration: none!important; }
#order-container ul.u-breadcrumbs li:last-child { color: var(--dark-link-active)!important; }
#order-container ul.u-breadcrumbs li a:hover { color: var(--dark-link-hover)!important; border-bottom: 1px dotted var(--dark-link-hover); }

/* BUTTONS (full-width) */
#order-container .u-shop-product-controls .button.is-dark.is-fullwidth { width: fit-content!important; }
/* #order-container .u-basket-continue-shopping[data-v-22b02c82] span { color: var(--dark-body-secondary); } */

/* CATEGORIES MENU > Menu Item (container) */
#order-container .tree-menu-field[data-v-8246595d] { padding: 0; }
#order-container .tree-menu-field.has-action[data-v-8246595d] { display: block; }
/* CATEGORIES MENU > Menu Item > Action Icon */
#order-container .tree-menu-field a.tree-menu-field-action[data-v-8246595d] { display: none; }
/* CATEGORIES MENU > Menu Item > Content (container) */
#order-container .tree-menu-field .tree-menu-field-text[data-v-8246595d] { font-size: .9375rem; }
/* CATEGORIES MENU > Menu Item > Content > Selectable (container) */
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value[data-v-8246595d] { display: flex; justify-content: space-between; padding: .5rem .75rem; border-radius: 6px;}
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value[data-v-8246595d]:not(.is-selected):hover { background-color: var(--dark-background-secondary)!important; color: var(--dark-link-hover)!important; }
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value.is-selected[data-v-8246595d] { background-color: var(--brand-color)!important; }
/* CATEGORIES MENU > Menu Item > Content > Selectable > Text */
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value[data-v-8246595d] span:first-of-type { color: var(--dark-link)!important; }
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value.is-selected[data-v-8246595d] span:first-of-type { color: var(--dark-link-active)!important; font-weight: 700!important; }
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value[data-v-8246595d]:not(.is-selected):hover span:first-of-type { color: var(--dark-link-hover)!important; }
/* CATEGORIES MENU > Menu Item > Content > Selectable > Tag */
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value[data-v-8246595d] span.tag { background-color: transparent; border: 1px solid var(--brand-color)!important; }
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value.is-selected[data-v-8246595d] span.tag { background-color: transparent; border: 1px solid var(--brand-color-contrast)!important; }
#order-container .tree-menu-field .tree-menu-field-text p.trim-long-value[data-v-8246595d] span.tag strong.has-text-grey { color: var(--dark-body-tertiary)!important; }

/* CHECKOUT */
#order-container .selector .selector-item .selector-item-child:not(:empty) { background-color: var(--dark-background-primary); box-shadow: none!important; }

/* DOMAIN NAMES */
#order-container .dac-domain-row .dac-domain-fqdn, #order-container .dac-domain-row .dac-domain-price { color: var(--dark-body-tertiary)!important; }
#order-container .column-slot-b .u-item-body { background-color: var(--dark-background-primary); }
#order-container .column-slot-b .u-item-body td { color: var(--dark-body-tertiary)!important; }

/* PRODUCTS > TERM CARDS */
#order-container .product-terms-card-grid a.term-card { color: var(--dark-body-tertiary); }
#order-container .product-terms-card-grid a.term-card>div { background-color: var(--dark-background-primary) !important; border: 1px solid var(--dark-border-primary)!important; }
#order-container .product-terms-card-grid a.term-card:hover>div { border: 1px solid var(--brand-color)!important; }
#order-container .product-terms-card-grid a.term-card .has-text-grey-dark { color: var(--dark-body-tertiary) !important; }
#order-container .product-terms-card-grid a.term-card.is-selected .term-card-head { background-color: var(--brand-color) !important; border: 1px solid var(--brand-color)!important; }

/* STEPPER TABS (defaults) */
#order-container ul.stepper { border-bottom: none; }
#order-container ul.stepper li, #order-container .stepper li:hover, #order-container .stepper li.is-active, #order-container .stepper li:hover a, #order-container .stepper li.is-active a { border-top-left-radius: 8px; border-top-right-radius: 8px; }
#order-container ul.stepper li > a { display: flex; align-items: center; justify-content: center; height: 2.5rem; color: var(--dark-body-secondary); text-transform: capitalize; border-bottom: none; padding: 1em 1.5rem; font-size: 1rem; }
#order-container ul.stepper li:hover a { color: var(--dark-link-hover)!important; box-shadow: none!important; }
#order-container ul.stepper li.is-active { background-color: var(--brand-color); }
#order-container ul.stepper li.is-active a { background-color: transparent; color: var(--dark-body-tertiary); font-weight: 700; box-shadow: inset 0 -2px var(--brand-color); }
#order-container ul.stepper li:not(.is-active):hover { background-color: var(--dark-background-tertiary); }
#order-container ul.stepper.is-marginless.is-borderless li:not(.is-active):hover { background-color: var(--dark-background-tertiary); }
#order-container ul.stepper li.is-disabled[data-v-f690a421] { opacity: 1; }
#order-container ul.stepper li[data-v-f690a421]::before { display: none; background-color: var(--dark-link)!important; }
/* #order-container ul.stepper li:not(:last-of-type) span::after { content: " >"; } */

/* RADIO BUTTON SELECTOR */
#order-container .selector { background-color: var(--dark-background-primary)!important; border-color: var(--dark-border-primary)!important; }
#order-container .selector.with-separator .selector-item+.selector-item { border-color: var(--dark-border-primary)!important; }



/* ORDER STYLES > SHOP, CART, & CHECKOUT PAGES (*** UN-VERIFIED ***)
   ========================================================================== */
#order-container .ribbon.has-background-white .container .u-padding .columns.has-padding-100.is-multiline div.column.is-12:nth-child(1) { border-radius: 6px; padding: 0!important; }
#order-container .ribbon.has-background-white .container .u-padding .columns.has-padding-100.is-multiline div.column.is-12:nth-child(2) { display: none; }
#order-container .ribbon.has-background-white .container .u-padding .columns.has-padding-100.is-multiline div.column.is-12:nth-child(3) .u-message.has-margin-bottom-150.is-warning { max-width: 40rem; margin: 0 auto;  /* margin-left: 2rem!important; margin-right: 2rem!important; */ text-align: center; }

#order-container .u-heading.has-padding-bottom-50.has-border-bottom { color: var(--brand-color); font-size: 2rem; text-transform: capitalize; }
#order-container table { background-color: transparent; }
#order-container table th { color: var(--dark-body-primary); }
#order-container table td { color: var(--dark-body-tertiary); }








